.article-top {
  text-align: center;
}

.logo {
  display: inline-block;
  width: 80px;
  height: 104px;
}

.article-title a,
a.title {
  color: inherit;
  text-decoration: none;
}

.entry-date,
.article-meta,
.article-meta a,
.site-info,
.archive-date {
  font-size: 0.75em;
  color: rgba(102, 102, 102, 0.7);
}

.article-meta,
.site-info {
  text-align: center;
}

blockquote {
  padding: 10px 20px;
  margin: 0 0 20px;
  border-left: 5px solid #eeeeee;

  p {
    margin-bottom: 0;
  }
}

.video-container {
  position: relative;
  display: block;
  height: 0;
  padding: 0;
  overflow: hidden;
  padding-bottom: 56.25%;

  embed,
  iframe,
  object,
  video {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 100%;
    border: 0;
  }
}

.pagination {
  display: flex;
  justify-content: space-around;
  align-items: center;

  a {
    text-decoration: none;

    &::before,
    &::after {
      font-size: 36px;
      vertical-align: middle;
    }
  }
}

.pagination-prev {
  &::before {
    content: "☜";
    margin-right: 5px;
  }
}

.pagination-next {
  &::after {
    content: "☞";
    margin-left: 5px;
  }
}

.post-tags {
  font-size: 18px;

  &::before {
    content: "";
    display: inline-block;
    margin-right: 5px;
    width: 19px;
    height: 16px;
    background: url("../img/icon-tags.svg") no-repeat 0 0;
    vertical-align: middle;
  }
}
